<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   <style>

.detailseditdlt{
		   display:inline-block;


	   }
	   
	   .detailseditdltdiv{
		   text-align: center;
	   }
	   input.text-center.d-block {
    position: relative;
    left: 43%;
}
   </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col md-4">
				<form method="post">
					<div class="detailseditdltdiv mt-5">
						<h3>Do you want to delete this restaurant?</h3>
						<div class="">

							<p class="detailseditdlt">Name  :</p>
							<p class="detailseditdlt"><%=name%></p>
						</div>
	
	
							<div class="">
								<p class="detailseditdlt">Location  :</p>
							    <p class="detailseditdlt"><%=location%></p>
						    </div>
	
							<div class="">
								<p class="detailseditdlt">Phone  :</p>
							    <p class="detailseditdlt"><%=phone%></p>
							</div>
							
	
							
	
	
							<div class="d-block">
								<input class="text-center myButton" type="submit" name="submit" value="Confirm">
							<a class="myButton text-center" href="/admin/allrestaurant">Cancel</a>
	
							
							
	
						</div>

					</div>
					
					
					
			
				</form>
	
			</div>
			

		</div>
		

	</div>
	
</body>
</html>